{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div id="booking-form" class="booking-form">
  <div class="container heigth pt-5">
    <div class="row pt-5 mt-4">
      <div class="col-md-8 offset-md-2 mt-4 pt-5">
        {% if user.is_authenticated %}
        <h1>Reserve your table here</h1>
        <!--   To display form field validation error -->
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <h6 class="double-booking">{{error|striptags}}</h6>
            {% endfor %}
          {% endfor %}
          <h6 class="double-booking">{{form.non_field_errors|striptags}}</h6>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ booking_form.as_p }}
          <button class="booking-btn" type="submit">Send Message</button>
        </form>

        {% else %}
        <p>
          To make your reservation, please <a href="{% url 'account_login'%}">SignIn</a>. If you have not
          create your account yet, then please <a href="{% url 'account_signup'%}">SignUp</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}