{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<!-- This represents the booking form in order to book a table and this is called from view.py -->
<div id="booking-form" class="booking-form" style="background-image: url(https://res.cloudinary.com/drulpekag/image/upload/v1674576262/static/img/slide/slide-1.b4d0374700ad.jpg);">
  <div class="container heigth pt-5">
    <div class="row pt-5 mt-4">
      <div class="col-md-8 offset-md-2 mt-4 pt-5">
        {% if user.is_authenticated %}
        <h1>Reserve your table here</h1>
        <form method="post">
          {% csrf_token %}
          {{ booking_form.as_p }}
          <button class="booking-btn" type="submit">Send Message</button>
        </form>

        {% else %}
        <p>
          To make your reservation, please <a href="{% url 'account_login'%}">SignIn</a>. If you have not
          create your account yet, then please <a href="{% url 'account_signup'%}">SignUp</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}