{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div id="booking-form" class="booking-form">
  <div class="container heigth pt-5">
    <div class="row pt-5 mt-4">
      <div class="col-md-8 offset-md-2 mt-4 pt-5">
        <h1>Edit your Booking</h1>
        <form method="post">
          {% csrf_token %}
          {{ booking_form.as_p }}
          <button class="booking-btn" type="submit">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}