{% extends 'base.html' %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../static/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>Taste Buds</span> Restaurant</h2>
              <p class="animate__animated animate__fadeInUp">We travel, we curate, we entertain and excite, we serve to
                exceed expectations.
                An exceptional spectacle of Indian cuisine, our experienced and dedicated chefs make every meal at our
                restaurant a taste
                sensation. Originally established in 1999, Indie Spice Grill is a contemporary reflection of the
                eclectic and diverse history of
                Indian cuisine. The India we know and love is a dynamic nation – the beating heart of Asia, and the
                crossroads of cultures
                from China to Europe and Africa..</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="{% url 'booking' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Book a
                  Table</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../static/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Totally India Locally</h2>
              <p class="animate__animated animate__fadeInUp">Our unique fusion makes for a healthy menu with maximum
                flavour and aroma.
                Passionate about great food and inspired by our Swords home, our contemporary menu fuses fine Indian
                cuisine with
                the best local produce and seasonal ingredients.“In Indian supersition it is said that when our National
                Bird
                spreads it’s tails, rain is imminent. Welcome to Ireland, my friend!”</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="{% url 'booking' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Book a
                  Table</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../static/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Book a Table</h2>
              <p class="animate__animated animate__fadeInUp">Make your reservation today and try our eclectic and
                contemporary menu,
                we bring together the best of India with the finest seasonal local ingredients. Sensational fusion of
                eastern wonder
                and local provenance. “In Indian supersition it is said that when our National Bird spreads it’s tails,
                rain is imminent.
                Welcome to Ireland, my friend!”</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="{% url 'booking' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Book a
                  Table</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->
{% endblock %}