{% extends 'base.html' %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../static/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>Taste Buds</span> Restaurant</h2>
              <p class="animate__animated animate__fadeInUp">We travel, we curate, we entertain and excite, we serve to
                exceed expectations.
                An exceptional spectacle of Indian cuisine, our experienced and dedicated chefs make every meal at our
                restaurant a taste
                sensation. Originally established in 1999, Indie Spice Grill is a contemporary reflection of the
                eclectic and diverse history of
                Indian cuisine. The India we know and love is a dynamic nation – the beating heart of Asia, and the
                crossroads of cultures
                from China to Europe and Africa..</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="{% url 'booking' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Book a
                  Table</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../static/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Totally India Locally</h2>
              <p class="animate__animated animate__fadeInUp">Our unique fusion makes for a healthy menu with maximum
                flavour and aroma.
                Passionate about great food and inspired by our Swords home, our contemporary menu fuses fine Indian
                cuisine with
                the best local produce and seasonal ingredients.“In Indian supersition it is said that when our National
                Bird
                spreads it’s tails, rain is imminent. Welcome to Ireland, my friend!”</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="{% url 'booking' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Book a
                  Table</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../static/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Book a Table</h2>
              <p class="animate__animated animate__fadeInUp">Make your reservation today and try our eclectic and
                contemporary menu,
                we bring together the best of India with the finest seasonal local ingredients. Sensational fusion of
                eastern wonder
                and local provenance. “In Indian supersition it is said that when our National Bird spreads it’s tails,
                rain is imminent.
                Welcome to Ireland, my friend!”</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="{% url 'booking' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Book a
                  Table</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("../static//img/about.jpg");'>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a>
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
        <div class="content">
          <h3><strong>Taste Buds </strong>Indian Restaurant Rathfarnam Road, Dublin</h3>
          <p>
            Taste Buds in Dublin offers the ultimate group private dining experience for any occasion.
            A restaurant like no other in Dublin with a chic interior complemented by a stylish interior and
            tasteful salad and food menus all designed to deliver a top-class experience.
          </p>
          <p class="fst-italic">
            Taste Buds restaurant offers ambient atmosphere to enjoy your food and offers different rooms, halls
            available for family and large group
          </p>
          <ul>
            <li><i class="bx bx-check-double"></i> The 130-seat dining room and upper level private dining room offer a
              chic and elegant backdrop for an unforgettable dining experience..</li>
            <li><i class="bx bx-check-double"></i> Also have impressively high ceilings, mahogany wood walls,
              and dark leather tufted banquets create a rich yet inviting atmosphere.</li>
            <li><i class="bx bx-check-double"></i> Our expert Indian chefs create restaurant-quality Indian food using
              fresh,
              natural ingredients.</li>
          </ul>
          <p>
            In a world where sustainability, health and nutrition are taking centre stage and where anything we want,
            can be dropped to our door, with the tap of a button Spice India brings a successful, future led approach
            in the food sector.
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->


<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
  <div class="container">

    <div class="section-title">
      <h2>Check our tasty <span>Menu</span></h2>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Show All</li>
          <li data-filter=".filter-starters">Starters</li>
          <li data-filter=".filter-salads">Salads</li>
          <li data-filter=".filter-specialty">Specialty</li>
        </ul>
      </div>
    </div>

    <div class="row menu-container">

      <div class="col-lg-6 menu-item filter-starters">
        <div class="menu-content">
          <a href="#">Aloo Tiki M,C</a><span>$5.95</span>
        </div>
        <div class="menu-ingredients">
          A potato cake served with chick peas - topped with mint, turmeric and fresh coriander
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Chicken Pakora C,G</a><span>$6.95</span>
        </div>
        <div class="menu-ingredients">
          Strips of chicken breast slightly spiced, dipped in gram flour batter and deep fried
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <div class="menu-content">
          <a href="#">Hariyali Kebab N ew M,C,E</a><span>$7.95</span>
        </div>
        <div class="menu-ingredients">
          Drumstick of chicken, marinated in roast gram flour, egg, yogurt, cream with mint spinach completed in clay
          oven
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <div class="menu-content">
          <a href="#">Lamb Seekh Chat E,C</a><span>$8.95</span>
        </div>
        <div class="menu-ingredients">
          Grilled minced lamb, tossed with onions and tomato sauce, flavoured with mild spices and chargrilled
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Goan Prawn Curry M,MS</a><span>$9.95</span>
        </div>
        <div class="menu-ingredients">
          King prawns cooked in onion sauce, coconut milk, flavoured with curry leaves and fresh coriander
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <div class="menu-content">
          <a href="#">Mozzarella Stick</a><span>$4.95</span>
        </div>
        <div class="menu-ingredients">
          Lorem, deren, trataro, filede, nerada
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <div class="menu-content">
          <a href="#">Greek Salad</a><span>$9.95</span>
        </div>
        <div class="menu-ingredients">
          Fresh spinach, crisp romaine, tomatoes, and Greek olives
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <div class="menu-content">
          <a href="#">Spinach Salad</a><span>$9.95</span>
        </div>
        <div class="menu-ingredients">
          Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Jhinga Mirchiwala C</a><span>$12.95</span>
        </div>
        <div class="menu-ingredients">
          Jumbo king prawns cooked with tangy tomatoes, cumin, garam masala, crushed coriander,
          onion, green chilies, pepper finished with fresh coriander
        </div>
      </div>
    </div>
  </div>
</section><!-- End Menu Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
  <div class="container-fluid">
    <div class="section-title">
      <h2>Some photos from <span>Our Restaurant</span></h2>
    </div>
    <div class="row g-0">
      {% for imageUrl in imageUrls %}
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{{imageUrl.image_url}}" class="gallery-lightbox">
            <img src="{{imageUrl.image_url}}" alt="" class="img-fluid">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}