{% extends 'base.html' %}
{% block content %}
<!-- This is used for displaying the booking details, data is taken from the booking model -->
<section id="mybooking">
    <div class="container-fluid heigth">
        <div class="section-title">
            <h2> My<span> Booking</span></h2>
            <p>All upcoming reservations can be found here.</p>
        </div>
        <div class="row">
            <!-- List all reservation belongs to the current user  -->
            {% for booking in bookings %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title text-center">{{booking.booked_date}} at {{booking.booked_time}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted text-center">{{booking.name}}</h6>
                        <p class="card-text mt-5">
                            <p><i class="far fa-envelope  "></i> {{ booking.email }}</p>
                            <p><span>Guests: </span> {{ booking.number_guest }}</p>
                            <div class="h6">
                                <span> status:
                                    {% if booking.booking_status == 0 %}
                                    <span>Pending</span>
                                    {% elif booking.booking_status == 1 %}
                                    <span>Confirmed </span>
                                    {% else %}
                                    <span>Declined </span>
                                    {% endif %}
                                </span>
                            </div>
                        </p>
                        <div class="mt-auto d-flex justify-content-end ">
                            <a href="/editbooking/{{booking.id}}" class="btn btn-booking-view">Edit</a>
                            <!-- Button trigger modal -->
                            <a href="/deletebooking/{{booking.id}}" class="btn btn-booking-view mx-2"
                                data-bs-toggle="modal" data-bs-target="#deleteModal_{{ booking.id }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Show message if there are no bookings -->
            {% empty %}
            <p class="text-center mt-5"> You have no booking Currently !</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}